body {
  font-family: "Gill Sans", sans-serif;
  background: #000;
  color: #fff;
}

h1 {
  color: #ff69b4;
  font-size: 28px;
  font-weight: 200;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.btn-primary {
  background: #ff69b4;
  border: 1px solid #fff;
}

.btn-primary:hover {
  background: #c973e7;
  border: 1px solid #fff;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 10px auto;
}

.weather-app {
  max-width: 600px;
  margin: 20px auto 10px;
  padding: 20px;
  border: 1px solid #ff69b4;
  border-radius: 5px;
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}

.overview {
  margin-bottom: 30px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  position: relative;
  top: -20px;
}

.weather-temperature strong {
  color: #ff69b4;
  font-size: 64px;
  font-weight: 300;
  line-height: 1px;
  margin-top: 10px;
}

.units {
  position: relative;
  font-size: 14px;
  font-weight: 200;
  top: -32px;
  color: #f2f2f1;
}

.fahrenheit-link {
  text-decoration: none;
  color: #6dbffe;
  opacity: 0.7;
}

.fahrenheit-link:hover {
  color: #ff69b4;
}

.celcius-link {
  text-decoration: none;
  color: #6dbffe;
  opacity: 0.7;
}

.celcius-link:hover {
  color: #ff69b4;
}

.weather-temperature .active {
  color: #fff;
  cursor: default;
  opacity: 1;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.reference {
  text-decoration: none;
  color: #6dbffe;
}

.reference:hover {
  text-decoration: none;
  color: #ff69b4;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
  font-weight: 200;
}

.weather-forecast-date {
  font-size: 18px;
  color: #ff69b4;
  font-weight: 400;
}

.weather-forecast-temperature {
  color: #fff;
  font-size: 14px;
}

.weather-forecast-temperature-max {
  color: #fff;
  font-weight: 200;
}

.weather-forecast-temperature-min {
  color: #c973e7;
  font-weight: 200;
}
